input[type=submit], button {
  padding: 6px 12px;
  color: $white;
  background-color: $secondary-blue;
  border-radius: 4px;
  border: none;
  display: inline-block;
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: .5rem 1rem;
  font-size: 18px;
  font-weight: 600;
  border-radius: .25rem;

  transition: color .1s, background-color .1s;
}

.btn-primary {
  background-color: $vroom-orange;
  color: $white;

  &:hover,
  &:focus,
  &:active {
    background-color: $orange-hover;
    color: $white;
  }
}

.btn-secondary {
  background-color: white;
  color: $orange-hover;
  border: 1px solid $orange-hover;

  &:hover,
  &:focus {
    background-color: $orange-hover;
    color: white;
  }
}

.btn-warning {
  background-color: $secondary-orange;
  color: $black;
  box-shadow: 0 2px #963;
}

.btn-facebook {
  background-color: $blue-facebook;
}

.btn-google {
  background-color: $red;
}

@mixin filter-select-bar {
  height: 28px;
  width: 215px;
  border-radius: 2px;
  border: 1px solid $gray4;
  text-align: center;
  vertical-align: middle;
  margin: 10px 0 10px 0;
  background-color: white;

  &:hover {
    cursor: pointer;
    background-color: $gray5;
  }
}

/* Switch Buttons */
